html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: #202123;
}

body{
    margin: 0;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 3%;
    border: solid yellow;
}

.contact,
.techs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.title{
    text-align: center;
    color: white;
    font-size: 42px;
    margin-top: 1em;
}

.container{
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productList,
.sort-container{
    background-color: white;
    width: 80%;
    padding: 2% 5% 5%;
}

.contact li a{
    text-decoration: none;
    color: white;
}

.sort-container{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black; /* Add a solid black border to each cell */
    padding: 8px; /* Add padding for cell content */
    text-align: left;
}

.selected {
    background-color: #3882F6;
    color: white;
}
